<template name="signin">
	<div class="row">
		<div class="col-md-4"></div>
		<div class="col-md-4">
			<div class="thumbnail auth-container">
				<img width="300" height="300" src="/images/onair.png" alt="on air">
				<div class="caption text-center">
						<h1>Welcome to ONAIR</h1>
						<p>You are here to listen to/play good music.<br>Could you take a second and log in using one of these services, por favor.<br>No funny business. Pinky swear.</p>
						<div class="auth-bar">
							<button type="button" class="login-sc btn btn-default btn-lg">
								<span aria-hidden="true" class="icon-soundcloud"></span>
							</button>
							<button type="button" class="login-fb btn btn-default btn-lg">
								<span aria-hidden="true" class="icon-facebook"></span>
							</button>
						</div>
				</div>
			</div>
		</div>
		<div class="col-md-4"></div>
	</div>

	
</template>