<template name="newRoomForm">
	<form class="form-horizontal" role="form">
		<div class="form-group">
			<label class="col-sm-2 control-label">Name your rooms</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" name="name" placeholder="e.g. sounds of Ukistan">
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label">Room description</label>
			<div class="col-sm-10">
				<textarea placeholder="sweet beats" name="description" class="form-control" rows="3"></textarea>
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-offset-2 col-sm-10">
				<button type="submit" class="btn btn-default">Create</button>
			</div>
		</div>
	</form>
</template>