<template name="room">
	<h1>{{room.name}}</h1>
	<p>{{room.description}}</p>
	
	{{#if room}}
		{{#with room}}
			{{#if canEdit}}
				{{#if playlist.media}}
					{{#if room.live}}
						<strong>this room is live</strong>
					{{else}}
						{{#if playlist.media}}
						<button data-room="{{room._id}}" class="button-golive">Go live</button>
						{{/if}}
					{{/if}}
				{{else}}

				{{/if}}
			{{else}}
				{{#if djProfile}}
					{{#with djProfile.profile}}
						<img src="{{picture}}" width="50">
						<h4>{{name}}</h4>
						<hr>
					{{/with}}
				{{/if}}
			{{/if}}
		{{/with}}
	{{/if}}
	<hr>
	<div class="row">
		<div class="col-md-6">
			{{yield 'playlist'}}
		</div>
		<div class="col-md-6">
			{{yield 'favorites'}}
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			{{yield 'listeners'}}
		</div>
	</div>
</template>