<template name="rooms">
	
	<div class="row">
		<div class="col-md-12">
			{{#if canCreateRoom}}
				{{>newRoomForm }}
				<hr>
			{{/if}}
		</div>
	</div>
	
	<div class="row">
		<div class="col-md-12">
			<ul class="list-group">
				{{#each rooms}}
					<li class="list-group-item">
						<div class="row">
							<div class="col-md-12">
								<a href="/room/{{_id}}"><h3>{{name}}</h3></a>
								<p>{{description}}</p>
							</div>
						</div>
					</li>
				{{/each}}
			</ul>
		</div>
	</div>
</template>