<template name="room">
	<div class="row">
		<div class="col-md-12">
			<h1>{{room.name}} <small>{{room.description}}</small></h1>
		</div>
	</div>
	<hr>
	{{#if room}}
		{{#if room.live}}
			<h2 class="live-label"><span>on air</span></h2>
		{{/if}}

		{{#if djProfile}}
			<div class="row">
				<div class="col-md-12">
				{{#with djProfile.profile}}
					<img src="{{picture}}" width="50">
					<h4>{{name}}</h4>
					<hr>
				{{/with}}
				</div>
			</div>
		{{/if}}
			
	{{/if}}

	<div class="row">
		<div class="col-md-12">
			{{>yield 'listeners'}}
		</div>
	</div>
	<hr>
	<div class="row">
		<div class="col-md-12">
			{{>yield 'playlist'}}
		</div>
	</div>
</template>