<template name="room">
	<h1>{{room.name}}</h1>
	<p>{{room.description}}</p>
	
	{{#if room}}
		{{#with room}}
			{{#if canEdit}}
			<strong>you can edit this list</strong>
			{{/if}}
		{{/with}}
	{{/if}}

	{{#if room.live}}
		<strong>this room is live</strong>
	{{else}}
		{{#if playlist.media}}
		<button data-room="{{room._id}}" class="button-golive">Go live</button>
		{{/if}}
	{{/if}}
	<hr>
	<div class="row">
		<div class="col-md-6">
			{{yield 'playlist'}}
		</div>
		<div class="col-md-6">
			{{yield 'favorites'}}
		</div>
	</div>
</template>