<template name="playlist">
	{{#if isAnythingPlaying}}
		<div class="progress progress-striped active">
			<div class="progress-bar"  role="progressbar" aria-valuenow="{{playbackPositionPercentage}}" aria-valuemin="0" aria-valuemax="100" style="width: {{playbackPositionPercentage}}%">
			<span class="sr-only">{{playbackPosition}}/{{playlistDuration}}</span>
			</div>
		</div>
		<h4>{{playbackPosition}}/{{playlistDuration}}</h4>
		<hr>
	{{/if}}

	{{#if playlist.media}}
		{{#with playlist}}	
			<ul class="playlist">
				{{#each media}}
					<!-- TODO: add support for playback state tracking -->
					<li>
						{{#if artwork}}
						<img src="{{artwork}}">
						{{/if}}
						<h4>{{title}} <small>by {{user.username}}</small></h4>
					</li>
				{{/each}}
			</ul>
			<hr>
		{{/with}}
	{{else}}
		<strong>Add some tracks to get this party started -> </strong>
	{{/if}}
</template>