<template name="playlist">
	{{#if isAnythingPlaying}}
		<div class="progress progress-striped active">
			<div class="progress-bar"  role="progressbar" aria-valuenow="{{playbackPositionPercentage}}" aria-valuemin="0" aria-valuemax="100" style="width: {{playbackPositionPercentage}}%">
			<span class="sr-only">{{playbackPosition}}/{{playlistDuration}}</span>
			</div>
		</div>
		<h4>{{playbackPosition}}/{{playlistDuration}}</h4>
		<hr>
	{{/if}}
	{{#with playlist}}
		<ul class=" list-group">
			{{#each media}}
			<li class="list-group-item" style="opacity:{{#if isPlaying}}1{{else}}0.5{{/if}};">
			<h3>{{title}} <small>by {{username}}</small></h3>
			{{#if artwork_url}}
			<img width="50" src="{{artwork_url}}">
			{{/if}}
			
			</li>
			{{/each}}
		</ul>		
		<hr>
	{{/with}}
</template>